@import "../style.css";

.bio {
  text-align: center;
}

.bio-avatar {
  width: 100px;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.bio-main-heading {
  margin-top: var(--spacing-2);
}

.bio-description {
  margin-top: var(--spacing-1);
}
